/*  Base Button
==================================*/
.button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.875em 1.25em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(30, 30, 30, 0.49);
  font: 1em 'Helvetica Neue', Arial, sans-serif;
  font-weight: 100%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -ms-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -moz-background-clip: padding;
  /* for Firefox 3.6 */

  background-clip: padding-box;
  border-radius: 0.2em;
  /* IE hacks */

  zoom: 1;
  *display: inline;
}
.button:hover,
.button:focus,
.button:active,
.button.active {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(18, 18, 18, 0.29);
  background-color: #3c8dde;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}
.button:active,
.button.active {
  border-color: #2a65a0;
  border-bottom-color: #3884cd;
  background-color: #3072b3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
  background-image: -moz-linear-gradient(#3072b3, #599bdc);
  background-image: -ms-linear-gradient(#3072b3, #599bdc);
  background-image: -o-linear-gradient(#3072b3, #599bdc);
  background-image: linear-gradient(#3072b3, #599bdc);
}
/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/*  Color styles - (Use create_button mixin to easily create new colored buttons)
=====================================================================================*/
.button.green {
  border-color: #0ea20c;
  background-color: #11bf0e;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#11bf0e), to(#0fa70c));
  background-image: -moz-linear-gradient(#11bf0e, #0fa70c);
  background-image: -ms-linear-gradient(#11bf0e, #0fa70c);
  background-image: -o-linear-gradient(#11bf0e, #0fa70c);
  background-image: linear-gradient(#11bf0e, #0fa70c);
}
.button.green:hover,
.button.green:focus,
.button.green:active {
  border-color: #0e9e0c;
  border-bottom-color: #0d940b;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #10b10d;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#10b10d), to(#0fa70c));
  background-image: -moz-linear-gradient(#10b10d, #0fa70c);
  background-image: -ms-linear-gradient(#10b10d, #0fa70c);
  background-image: -o-linear-gradient(#10b10d, #0fa70c);
  background-image: linear-gradient(#10b10d, #0fa70c);
}
.button.green:active,
.button.green.active {
  border-color: #0d940b;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #0fa70c;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0fa70c), to(#10b10d));
  background-image: -moz-linear-gradient(#0fa70c, #10b10d);
  background-image: -ms-linear-gradient(#0fa70c, #10b10d);
  background-image: -o-linear-gradient(#0fa70c, #10b10d);
  background-image: linear-gradient(#0fa70c, #10b10d);
}
.button.purple {
  border-color: #6424a6;
  background-color: #7329bf;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7329bf), to(#6624aa));
  background-image: -moz-linear-gradient(#7329bf, #6624aa);
  background-image: -ms-linear-gradient(#7329bf, #6624aa);
  background-image: -o-linear-gradient(#7329bf, #6624aa);
  background-image: linear-gradient(#7329bf, #6624aa);
}
.button.purple:hover,
.button.purple:focus,
.button.purple:active {
  border-color: #6123a2;
  border-bottom-color: #5c2199;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #6b26b2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6b26b2), to(#6624aa));
  background-image: -moz-linear-gradient(#6b26b2, #6624aa);
  background-image: -ms-linear-gradient(#6b26b2, #6624aa);
  background-image: -o-linear-gradient(#6b26b2, #6624aa);
  background-image: linear-gradient(#6b26b2, #6624aa);
}
.button.purple:active,
.button.purple.active {
  border-color: #5c2199;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #6624aa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6624aa), to(#6b26b2));
  background-image: -moz-linear-gradient(#6624aa, #6b26b2);
  background-image: -ms-linear-gradient(#6624aa, #6b26b2);
  background-image: -o-linear-gradient(#6624aa, #6b26b2);
  background-image: linear-gradient(#6624aa, #6b26b2);
}
.button.blue {
  border-color: #2723a6;
  background-color: #2d28bf;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d28bf), to(#2824aa));
  background-image: -moz-linear-gradient(#2d28bf, #2824aa);
  background-image: -ms-linear-gradient(#2d28bf, #2824aa);
  background-image: -o-linear-gradient(#2d28bf, #2824aa);
  background-image: linear-gradient(#2d28bf, #2824aa);
}
.button.blue:hover,
.button.blue:focus,
.button.blue:active {
  border-color: #2622a1;
  border-bottom-color: #242099;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #2a25b2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a25b2), to(#2824aa));
  background-image: -moz-linear-gradient(#2a25b2, #2824aa);
  background-image: -ms-linear-gradient(#2a25b2, #2824aa);
  background-image: -o-linear-gradient(#2a25b2, #2824aa);
  background-image: linear-gradient(#2a25b2, #2824aa);
}
.button.blue:active,
.button.blue.active {
  border-color: #242099;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #2824aa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2824aa), to(#2a25b2));
  background-image: -moz-linear-gradient(#2824aa, #2a25b2);
  background-image: -ms-linear-gradient(#2824aa, #2a25b2);
  background-image: -o-linear-gradient(#2824aa, #2a25b2);
  background-image: linear-gradient(#2824aa, #2a25b2);
}
.button.grey {
  border-color: #afafaf;
  background-color: #bebebe;
  font-size: 0.875em;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bebebe), to(#b1b1b1));
  background-image: -moz-linear-gradient(#bebebe, #b1b1b1);
  background-image: -ms-linear-gradient(#bebebe, #b1b1b1);
  background-image: -o-linear-gradient(#bebebe, #b1b1b1);
  background-image: linear-gradient(#bebebe, #b1b1b1);
}
.button.grey:hover,
.button.grey:focus,
.button.grey:active {
  border-color: #acacac;
  border-bottom-color: #a7a7a7;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #b6b6b6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b6b6b6), to(#b1b1b1));
  background-image: -moz-linear-gradient(#b6b6b6, #b1b1b1);
  background-image: -ms-linear-gradient(#b6b6b6, #b1b1b1);
  background-image: -o-linear-gradient(#b6b6b6, #b1b1b1);
  background-image: linear-gradient(#b6b6b6, #b1b1b1);
}
.button.grey:active,
.button.grey.active {
  border-color: #a7a7a7;
  border-bottom-color: active_border_color_bottom;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #b1b1b1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b1b1b1), to(#b6b6b6));
  background-image: -moz-linear-gradient(#b1b1b1, #b6b6b6);
  background-image: -ms-linear-gradient(#b1b1b1, #b6b6b6);
  background-image: -o-linear-gradient(#b1b1b1, #b6b6b6);
  background-image: linear-gradient(#b1b1b1, #b6b6b6);
}
.button.light-grey {
  border-color: #dadada;
  background-color: #e9e9e9;
  font-size: 0.875em;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e9e9e9), to(#dcdcdc));
  background-image: -moz-linear-gradient(#e9e9e9, #dcdcdc);
  background-image: -ms-linear-gradient(#e9e9e9, #dcdcdc);
  background-image: -o-linear-gradient(#e9e9e9, #dcdcdc);
  background-image: linear-gradient(#e9e9e9, #dcdcdc);
}
.button.light-grey:hover,
.button.light-grey:focus,
.button.light-grey:active {
  border-color: #d7d7d7;
  border-bottom-color: #d2d2d2;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #e1e1e1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), to(#dcdcdc));
  background-image: -moz-linear-gradient(#e1e1e1, #dcdcdc);
  background-image: -ms-linear-gradient(#e1e1e1, #dcdcdc);
  background-image: -o-linear-gradient(#e1e1e1, #dcdcdc);
  background-image: linear-gradient(#e1e1e1, #dcdcdc);
}
.button.light-grey:active,
.button.light-grey.active {
  border-color: #d2d2d2;
  border-bottom-color: active_border_color_bottom;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #dcdcdc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dcdcdc), to(#e1e1e1));
  background-image: -moz-linear-gradient(#dcdcdc, #e1e1e1);
  background-image: -ms-linear-gradient(#dcdcdc, #e1e1e1);
  background-image: -o-linear-gradient(#dcdcdc, #e1e1e1);
  background-image: linear-gradient(#dcdcdc, #e1e1e1);
}
.button.dark-grey {
  border-color: #2c2c2c;
  background-color: #3b3b3b;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b3b3b), to(#2e2e2e));
  background-image: -moz-linear-gradient(#3b3b3b, #2e2e2e);
  background-image: -ms-linear-gradient(#3b3b3b, #2e2e2e);
  background-image: -o-linear-gradient(#3b3b3b, #2e2e2e);
  background-image: linear-gradient(#3b3b3b, #2e2e2e);
}
.button.dark-grey:hover,
.button.dark-grey:focus,
.button.dark-grey:active {
  border-color: #292929;
  border-bottom-color: #242424;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #333333;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#2e2e2e));
  background-image: -moz-linear-gradient(#333333, #2e2e2e);
  background-image: -ms-linear-gradient(#333333, #2e2e2e);
  background-image: -o-linear-gradient(#333333, #2e2e2e);
  background-image: linear-gradient(#333333, #2e2e2e);
}
.button.dark-grey:active,
.button.dark-grey.active {
  border-color: #242424;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #2e2e2e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#333333));
  background-image: -moz-linear-gradient(#2e2e2e, #333333);
  background-image: -ms-linear-gradient(#2e2e2e, #333333);
  background-image: -o-linear-gradient(#2e2e2e, #333333);
  background-image: linear-gradient(#2e2e2e, #333333);
}
.button.black {
  border-color: #000000;
  background-color: #040404;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#040404), to(#000000));
  background-image: -moz-linear-gradient(#040404, #000000);
  background-image: -ms-linear-gradient(#040404, #000000);
  background-image: -o-linear-gradient(#040404, #000000);
  background-image: linear-gradient(#040404, #000000);
}
.button.black:hover,
.button.black:focus,
.button.black:active {
  border-color: #000000;
  border-bottom-color: #000000;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));
  background-image: -moz-linear-gradient(#000000, #000000);
  background-image: -ms-linear-gradient(#000000, #000000);
  background-image: -o-linear-gradient(#000000, #000000);
  background-image: linear-gradient(#000000, #000000);
}
.button.black:active,
.button.black.active {
  border-color: #000000;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));
  background-image: -moz-linear-gradient(#000000, #000000);
  background-image: -ms-linear-gradient(#000000, #000000);
  background-image: -o-linear-gradient(#000000, #000000);
  background-image: linear-gradient(#000000, #000000);
}
