/*
  =================================
     BASE.LESS
  =================================

  Master Colors
  -------------

  @primary_color: #791fba;
  @secondary_color: #eaeaea;
  @definition_color: darken(@secondary_color, 80%);

  Master Font Colors
  ------------------

  @heading_font_color : darken(@secondary_color, 90%);
  @body_font_color: darken(@secondary_color, 50%);
  @alert_font_color: #ff1919;
  @success_font_color: #00e80f;

  Master Font Size
  ----------------

  @base_font_size: 1em;
  @base_line_height: 1.375em;

*/
/*
  =================================
     RESET.LESS
  =================================
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  =================================
      MIXINS.LESS
  =================================
*/
/*
  =================================
      TYPOGRAPHY.LESS
  =================================
*/
body {
  -webkit-font-smoothing: subpixel-antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #040404;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 2.875em;
  line-height: 3.125em;
  margin-bottom: 0.875em;
}
h2 {
  font-size: 2.188em;
  line-height: 2.500em;
  margin-bottom: 0.625em;
}
h3 {
  font-size: 1.750em;
  line-height: 2.125em;
  margin-bottom: 0.500em;
}
h4 {
  font-size: 1.313em;
  line-height: 1.875em;
  margin-bottom: 0.250em;
}
h5 {
  font-size: 1.063em;
  line-height: 1.500em;
}
h6 {
  font-size: 0.875em;
  line-height: 1.313em;
}
p {
  margin: 0 0 1.250em 0;
  line-height: 1.25em;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 1.313em;
  line-height: 1.688em;
  color: #777;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #333;
}
small {
  font-size: 80%;
}
/*	Blockquotes  */
blockquote,
blockquote p {
  font-size: 1.063em;
  line-height: 1.5em;
  color: #777;
  font-style: italic;
}
blockquote {
  margin: 0 0 1.250em;
  padding: 0.563em 1.250em 0 1.188em;
  border-left: 0.063em solid #ddd;
}
blockquote cite {
  display: block;
  font-size: 0.750em;
  color: #555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555;
}
hr {
  border: solid #ddd;
  border-width: 0.063em 0 0;
  clear: both;
  margin: 0.625em 0 1.875em;
  height: 0;
}
/* #Links
================================================== */
a,
a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}
a:hover,
a:focus {
  color: #000;
}
p a,
p a:visited {
  line-height: inherit;
}
/* #Lists
================================================== */
ul,
ol {
  margin-bottom: 1.250em;
}
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
}
ol,
ul.square,
ul.circle,
ul.disc {
  margin-left: 1.875em;
}
ul.square {
  list-style: square outside;
}
ul.circle {
  list-style: circle outside;
}
ul.disc {
  list-style: disc outside;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.250em 0 0.313em 1.875em;
  font-size: 90%;
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 0.375em;
}
li {
  line-height: 1.125em;
  margin-bottom: 0.750em;
}
ul.large li {
  line-height: 1.313em;
}
li p {
  line-height: 1.313em;
}
/* #Images
================================================== */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
/* #Forms
================================================== */
form {
  margin-bottom: 1.25em;
}
fieldset {
  margin-bottom: 1.25em;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 0.063em solid #ccc;
  padding: 0.375em 0.25em;
  outline: none;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  font: 1.25em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 13.125em;
  max-width: 100%;
  display: block;
  margin-bottom: 0.625em;
  background: #fff;
}
select {
  padding: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 0.063em solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 0.1875em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0.1875em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.1875em rgba(0, 0, 0, 0.2);
}
textarea {
  min-height: 3.75em;
}
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
}
select {
  width: 13.75em;
}
input[type="checkbox"] {
  display: inline;
}
label span,
legend span {
  font-weight: normal;
  font-size: 1.25em;
  color: #444;
}
/* #Misc
================================================== */
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 0.625em !important;
}
.add-bottom {
  margin-bottom: 1.25em !important;
}
/*
  =================================
      GRID.LESS
  =================================
  (16px Base using pure EM)
*/
/* #Base 60em (960px) Grid
================================================== */
.container {
  position: relative;
  width: 60em;
  margin: 0 auto;
  padding: 0;
  /* Base Grid */

  /* Offsets */

}
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 0.625em;
  margin-right: 0.625em;
}
.container .column .alpha,
.container .columns .alpha {
  margin-left: 0;
}
.container .column .omega,
.container .columns .omega {
  margin-right: 0;
}
.container .one.column,
.container .one.columns {
  width: 2.500em;
}
.container .two.columns {
  width: 6.250em;
}
.container .three.columns {
  width: 10.000em;
}
.container .four.columns {
  width: 13.750em;
}
.container .five.columns {
  width: 17.500em;
}
.container .six.columns {
  width: 21.250em;
}
.container .seven.columns {
  width: 25.000em;
}
.container .eight.columns {
  width: 28.75em;
}
.container .nine.columns {
  width: 32.500em;
}
.container .ten.columns {
  width: 36.250em;
}
.container .eleven.columns {
  width: 40.000em;
}
.container .twelve.columns {
  width: 43.750em;
}
.container .thirteen.columns {
  width: 47.500em;
}
.container .fourteen.columns {
  width: 51.25em;
}
.container .fifteen.columns {
  width: 55.000em;
}
.container .sixteen.columns {
  width: 58.750em;
}
.container .one-third.column {
  width: 18.750em;
}
.container .two-thirds.column {
  width: 38.750em;
}
.container .offset-by-one {
  padding-left: 3.750em;
}
.container .offset-by-two {
  padding-left: 7.500em;
}
.container .offset-by-three {
  padding-left: 11.25em;
}
.container .offset-by-four {
  padding-left: 15.000em;
}
.container .offset-by-five {
  padding-left: 18.750em;
}
.container .offset-by-six {
  padding-left: 22.5000em;
}
.container .offset-by-seven {
  padding-left: 26.250em;
}
.container .offset-by-eight {
  padding-left: 30.000em;
}
.container .offset-by-nine {
  padding-left: 33.750em;
}
.container .offset-by-ten {
  padding-left: 37.500em;
}
.container .offset-by-eleven {
  padding-left: 41.250em;
}
.container .offset-by-twelve {
  padding-left: 45.000em;
}
.container .offset-by-thirteen {
  padding-left: 48.750em;
}
.container .offset-by-fourteen {
  padding-left: 52.500em;
}
.container .offset-by-fifteen {
  padding-left: 56.250em;
}
.container .row {
  margin-bottom: 1.250em;
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 48em (768px) */
@media only screen and (min-width: 48em) and (max-width: 59.938em) {
  .container {
    width: 48em;
  }
  .container .column,
  .container .columns {
    margin-left: 0.625em;
    margin-right: 0.625em;
  }
  .column.alpha,
  .columns.alpha {
    margin-left: 0;
    margin-right: 0.625em;
  }
  .column.omega,
  .columns.omega {
    margin-right: 0;
    margin-left: 0.625em;
  }
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }
  .container .one.column,
  .container .one.columns {
    width: 1.75em;
  }
  .container .two.columns {
    width: 4.75em;
  }
  .container .three.columns {
    width: 7.75em;
  }
  .container .four.columns {
    width: 10.75em;
  }
  .container .five.columns {
    width: 13.75em;
  }
  .container .six.columns {
    width: 16.75em;
  }
  .container .seven.columns {
    width: 19.75em;
  }
  .container .eight.columns {
    width: 22.75em;
  }
  .container .nine.columns {
    width: 25.75em;
  }
  .container .ten.columns {
    width: 28.75em;
  }
  .container .eleven.columns {
    width: 31.75em;
  }
  .container .twelve.columns {
    width: 34.75em;
  }
  .container .thirteen.columns {
    width: 37.75em;
  }
  .container .fourteen.columns {
    width: 40.75em;
  }
  .container .fifteen.columns {
    width: 43.75em;
  }
  .container .sixteen.columns {
    width: 46.75em;
  }
  .container .one-third.column {
    width: 14.75em;
  }
  .container .two-thirds.column {
    width: 30.75em;
  }
  /* Offsets */
  .container .offset-by-one {
    padding-left: 3em;
  }
  .container .offset-by-two {
    padding-left: 6em;
  }
  .container .offset-by-three {
    padding-left: 9em;
  }
  .container .offset-by-four {
    padding-left: 12em;
  }
  .container .offset-by-five {
    padding-left: 15em;
  }
  .container .offset-by-six {
    padding-left: 18em;
  }
  .container .offset-by-seven {
    padding-left: 21em;
  }
  .container .offset-by-eight {
    padding-left: 24em;
  }
  .container .offset-by-nine {
    padding-left: 27em;
  }
  .container .offset-by-ten {
    padding-left: 30em;
  }
  .container .offset-by-eleven {
    padding-left: 33em;
  }
  .container .offset-by-twelve {
    padding-left: 36em;
  }
  .container .offset-by-thirteen {
    padding-left: 39em;
  }
  .container .offset-by-fourteen {
    padding-left: 42em;
  }
  .container .offset-by-fifteen {
    padding-left: 45em;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 20em (320px) */
@media only screen and (max-width: 47.938em) {
  .container {
    width: 18.750em;
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 18.750em;
  }
  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 30em (480px) */
@media only screen and (min-width: 30em) and (max-width: 47.938em) {
  .container {
    width: 26.250em;
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 26.250em;
  }
}
/* #Clearing
================================================== */
/* Self Clearing! */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*
  =================================
      MEDIA QUERIES
  =================================
*/
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 59.938em) {
  
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 48em) and (max-width: 59.938em) {
  
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 47.938em) {
  
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 30em) and (max-width: 47.938em) {
  
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 29.938em) {
  
}
/*
  =================================
       BUTTON STYLES
  =================================
*/
/*  Base Button
==================================*/
.button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.875em 1.25em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(30, 30, 30, 0.49);
  font: 1em 'Helvetica Neue', Arial, sans-serif;
  font-weight: 100%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -ms-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -moz-background-clip: padding;
  /* for Firefox 3.6 */

  background-clip: padding-box;
  border-radius: 0.2em;
  /* IE hacks */

  zoom: 1;
  *display: inline;
}
.button:hover,
.button:focus,
.button:active,
.button.active {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(18, 18, 18, 0.29);
  background-color: #3c8dde;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}
.button:active,
.button.active {
  border-color: #2a65a0;
  border-bottom-color: #3884cd;
  background-color: #3072b3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
  background-image: -moz-linear-gradient(#3072b3, #599bdc);
  background-image: -ms-linear-gradient(#3072b3, #599bdc);
  background-image: -o-linear-gradient(#3072b3, #599bdc);
  background-image: linear-gradient(#3072b3, #599bdc);
}
/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/*  Color styles - (Use create_button mixin to easily create new colored buttons)
=====================================================================================*/
.button.green {
  border-color: #0ea20c;
  background-color: #11bf0e;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#11bf0e), to(#0fa70c));
  background-image: -moz-linear-gradient(#11bf0e, #0fa70c);
  background-image: -ms-linear-gradient(#11bf0e, #0fa70c);
  background-image: -o-linear-gradient(#11bf0e, #0fa70c);
  background-image: linear-gradient(#11bf0e, #0fa70c);
}
.button.green:hover,
.button.green:focus,
.button.green:active {
  border-color: #0e9e0c;
  border-bottom-color: #0d940b;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #10b10d;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#10b10d), to(#0fa70c));
  background-image: -moz-linear-gradient(#10b10d, #0fa70c);
  background-image: -ms-linear-gradient(#10b10d, #0fa70c);
  background-image: -o-linear-gradient(#10b10d, #0fa70c);
  background-image: linear-gradient(#10b10d, #0fa70c);
}
.button.green:active,
.button.green.active {
  border-color: #0d940b;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #0fa70c;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0fa70c), to(#10b10d));
  background-image: -moz-linear-gradient(#0fa70c, #10b10d);
  background-image: -ms-linear-gradient(#0fa70c, #10b10d);
  background-image: -o-linear-gradient(#0fa70c, #10b10d);
  background-image: linear-gradient(#0fa70c, #10b10d);
}
.button.purple {
  border-color: #6424a6;
  background-color: #7329bf;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7329bf), to(#6624aa));
  background-image: -moz-linear-gradient(#7329bf, #6624aa);
  background-image: -ms-linear-gradient(#7329bf, #6624aa);
  background-image: -o-linear-gradient(#7329bf, #6624aa);
  background-image: linear-gradient(#7329bf, #6624aa);
}
.button.purple:hover,
.button.purple:focus,
.button.purple:active {
  border-color: #6123a2;
  border-bottom-color: #5c2199;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #6b26b2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6b26b2), to(#6624aa));
  background-image: -moz-linear-gradient(#6b26b2, #6624aa);
  background-image: -ms-linear-gradient(#6b26b2, #6624aa);
  background-image: -o-linear-gradient(#6b26b2, #6624aa);
  background-image: linear-gradient(#6b26b2, #6624aa);
}
.button.purple:active,
.button.purple.active {
  border-color: #5c2199;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #6624aa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6624aa), to(#6b26b2));
  background-image: -moz-linear-gradient(#6624aa, #6b26b2);
  background-image: -ms-linear-gradient(#6624aa, #6b26b2);
  background-image: -o-linear-gradient(#6624aa, #6b26b2);
  background-image: linear-gradient(#6624aa, #6b26b2);
}
.button.blue {
  border-color: #2723a6;
  background-color: #2d28bf;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d28bf), to(#2824aa));
  background-image: -moz-linear-gradient(#2d28bf, #2824aa);
  background-image: -ms-linear-gradient(#2d28bf, #2824aa);
  background-image: -o-linear-gradient(#2d28bf, #2824aa);
  background-image: linear-gradient(#2d28bf, #2824aa);
}
.button.blue:hover,
.button.blue:focus,
.button.blue:active {
  border-color: #2622a1;
  border-bottom-color: #242099;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #2a25b2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a25b2), to(#2824aa));
  background-image: -moz-linear-gradient(#2a25b2, #2824aa);
  background-image: -ms-linear-gradient(#2a25b2, #2824aa);
  background-image: -o-linear-gradient(#2a25b2, #2824aa);
  background-image: linear-gradient(#2a25b2, #2824aa);
}
.button.blue:active,
.button.blue.active {
  border-color: #242099;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #2824aa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2824aa), to(#2a25b2));
  background-image: -moz-linear-gradient(#2824aa, #2a25b2);
  background-image: -ms-linear-gradient(#2824aa, #2a25b2);
  background-image: -o-linear-gradient(#2824aa, #2a25b2);
  background-image: linear-gradient(#2824aa, #2a25b2);
}
.button.grey {
  border-color: #afafaf;
  background-color: #bebebe;
  font-size: 0.875em;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bebebe), to(#b1b1b1));
  background-image: -moz-linear-gradient(#bebebe, #b1b1b1);
  background-image: -ms-linear-gradient(#bebebe, #b1b1b1);
  background-image: -o-linear-gradient(#bebebe, #b1b1b1);
  background-image: linear-gradient(#bebebe, #b1b1b1);
}
.button.grey:hover,
.button.grey:focus,
.button.grey:active {
  border-color: #acacac;
  border-bottom-color: #a7a7a7;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #b6b6b6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b6b6b6), to(#b1b1b1));
  background-image: -moz-linear-gradient(#b6b6b6, #b1b1b1);
  background-image: -ms-linear-gradient(#b6b6b6, #b1b1b1);
  background-image: -o-linear-gradient(#b6b6b6, #b1b1b1);
  background-image: linear-gradient(#b6b6b6, #b1b1b1);
}
.button.grey:active,
.button.grey.active {
  border-color: #a7a7a7;
  border-bottom-color: active_border_color_bottom;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #b1b1b1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b1b1b1), to(#b6b6b6));
  background-image: -moz-linear-gradient(#b1b1b1, #b6b6b6);
  background-image: -ms-linear-gradient(#b1b1b1, #b6b6b6);
  background-image: -o-linear-gradient(#b1b1b1, #b6b6b6);
  background-image: linear-gradient(#b1b1b1, #b6b6b6);
}
.button.light-grey {
  border-color: #dadada;
  background-color: #e9e9e9;
  font-size: 0.875em;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e9e9e9), to(#dcdcdc));
  background-image: -moz-linear-gradient(#e9e9e9, #dcdcdc);
  background-image: -ms-linear-gradient(#e9e9e9, #dcdcdc);
  background-image: -o-linear-gradient(#e9e9e9, #dcdcdc);
  background-image: linear-gradient(#e9e9e9, #dcdcdc);
}
.button.light-grey:hover,
.button.light-grey:focus,
.button.light-grey:active {
  border-color: #d7d7d7;
  border-bottom-color: #d2d2d2;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #e1e1e1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), to(#dcdcdc));
  background-image: -moz-linear-gradient(#e1e1e1, #dcdcdc);
  background-image: -ms-linear-gradient(#e1e1e1, #dcdcdc);
  background-image: -o-linear-gradient(#e1e1e1, #dcdcdc);
  background-image: linear-gradient(#e1e1e1, #dcdcdc);
}
.button.light-grey:active,
.button.light-grey.active {
  border-color: #d2d2d2;
  border-bottom-color: active_border_color_bottom;
  color: #505050;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #dcdcdc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dcdcdc), to(#e1e1e1));
  background-image: -moz-linear-gradient(#dcdcdc, #e1e1e1);
  background-image: -ms-linear-gradient(#dcdcdc, #e1e1e1);
  background-image: -o-linear-gradient(#dcdcdc, #e1e1e1);
  background-image: linear-gradient(#dcdcdc, #e1e1e1);
}
.button.dark-grey {
  border-color: #2c2c2c;
  background-color: #3b3b3b;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b3b3b), to(#2e2e2e));
  background-image: -moz-linear-gradient(#3b3b3b, #2e2e2e);
  background-image: -ms-linear-gradient(#3b3b3b, #2e2e2e);
  background-image: -o-linear-gradient(#3b3b3b, #2e2e2e);
  background-image: linear-gradient(#3b3b3b, #2e2e2e);
}
.button.dark-grey:hover,
.button.dark-grey:focus,
.button.dark-grey:active {
  border-color: #292929;
  border-bottom-color: #242424;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #333333;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#2e2e2e));
  background-image: -moz-linear-gradient(#333333, #2e2e2e);
  background-image: -ms-linear-gradient(#333333, #2e2e2e);
  background-image: -o-linear-gradient(#333333, #2e2e2e);
  background-image: linear-gradient(#333333, #2e2e2e);
}
.button.dark-grey:active,
.button.dark-grey.active {
  border-color: #242424;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #2e2e2e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#333333));
  background-image: -moz-linear-gradient(#2e2e2e, #333333);
  background-image: -ms-linear-gradient(#2e2e2e, #333333);
  background-image: -o-linear-gradient(#2e2e2e, #333333);
  background-image: linear-gradient(#2e2e2e, #333333);
}
.button.black {
  border-color: #000000;
  background-color: #040404;
  font-size: 0.875em;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.875em 1.25em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#040404), to(#000000));
  background-image: -moz-linear-gradient(#040404, #000000);
  background-image: -ms-linear-gradient(#040404, #000000);
  background-image: -o-linear-gradient(#040404, #000000);
  background-image: linear-gradient(#040404, #000000);
}
.button.black:hover,
.button.black:focus,
.button.black:active {
  border-color: #000000;
  border-bottom-color: #000000;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));
  background-image: -moz-linear-gradient(#000000, #000000);
  background-image: -ms-linear-gradient(#000000, #000000);
  background-image: -o-linear-gradient(#000000, #000000);
  background-image: linear-gradient(#000000, #000000);
}
.button.black:active,
.button.black.active {
  border-color: #000000;
  border-bottom-color: active_border_color_bottom;
  color: #f9f9f9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));
  background-image: -moz-linear-gradient(#000000, #000000);
  background-image: -ms-linear-gradient(#000000, #000000);
  background-image: -o-linear-gradient(#000000, #000000);
  background-image: linear-gradient(#000000, #000000);
}
/*
  =================================
       PAGE STYLES
  =================================
*/
body {
  background: #f6f0fc;
  font-size: 1em;
  color: #6a6a6a;
}
/* Containers
=======================================================*/
