body {
  -webkit-font-smoothing: subpixel-antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #040404;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 2.875em;
  line-height: 3.125em;
  margin-bottom: 0.875em;
}
h2 {
  font-size: 2.188em;
  line-height: 2.500em;
  margin-bottom: 0.625em;
}
h3 {
  font-size: 1.750em;
  line-height: 2.125em;
  margin-bottom: 0.500em;
}
h4 {
  font-size: 1.313em;
  line-height: 1.875em;
  margin-bottom: 0.250em;
}
h5 {
  font-size: 1.063em;
  line-height: 1.500em;
}
h6 {
  font-size: 0.875em;
  line-height: 1.313em;
}
p {
  margin: 0 0 1.250em 0;
  line-height: 1.25em;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 1.313em;
  line-height: 1.688em;
  color: #777;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #333;
}
small {
  font-size: 80%;
}
/*	Blockquotes  */
blockquote,
blockquote p {
  font-size: 1.063em;
  line-height: 1.5em;
  color: #777;
  font-style: italic;
}
blockquote {
  margin: 0 0 1.250em;
  padding: 0.563em 1.250em 0 1.188em;
  border-left: 0.063em solid #ddd;
}
blockquote cite {
  display: block;
  font-size: 0.750em;
  color: #555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555;
}
hr {
  border: solid #ddd;
  border-width: 0.063em 0 0;
  clear: both;
  margin: 0.625em 0 1.875em;
  height: 0;
}
/* #Links
================================================== */
a,
a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}
a:hover,
a:focus {
  color: #000;
}
p a,
p a:visited {
  line-height: inherit;
}
/* #Lists
================================================== */
ul,
ol {
  margin-bottom: 1.250em;
}
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
}
ol,
ul.square,
ul.circle,
ul.disc {
  margin-left: 1.875em;
}
ul.square {
  list-style: square outside;
}
ul.circle {
  list-style: circle outside;
}
ul.disc {
  list-style: disc outside;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.250em 0 0.313em 1.875em;
  font-size: 90%;
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 0.375em;
}
li {
  line-height: 1.125em;
  margin-bottom: 0.750em;
}
ul.large li {
  line-height: 1.313em;
}
li p {
  line-height: 1.313em;
}
/* #Images
================================================== */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
/* #Forms
================================================== */
form {
  margin-bottom: 1.25em;
}
fieldset {
  margin-bottom: 1.25em;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 0.063em solid #ccc;
  padding: 0.375em 0.25em;
  outline: none;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  font: 1.25em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 13.125em;
  max-width: 100%;
  display: block;
  margin-bottom: 0.625em;
  background: #fff;
}
select {
  padding: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 0.063em solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 0.1875em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0.1875em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.1875em rgba(0, 0, 0, 0.2);
}
textarea {
  min-height: 3.75em;
}
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
}
select {
  width: 13.75em;
}
input[type="checkbox"] {
  display: inline;
}
label span,
legend span {
  font-weight: normal;
  font-size: 1.25em;
  color: #444;
}
/* #Misc
================================================== */
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 0.625em !important;
}
.add-bottom {
  margin-bottom: 1.25em !important;
}
