@import "globals", "functions","compass/css3/box-shadow";

.fancy-wrap
{
    background: white;
    border-radius: 0;
    @include single-box-shadow(rgba(0,0,0,0.3), 0, 0, 8px, false, false);
    position: relative;
    z-index: 90;
    
}
.scrollable{
  overflow-x: scroll;
}
.bg-color {
  &.dark   { background-color: $background-color-alt; }
  &.light  { background-color: $background-color; }
  &.gray  { background-color: $gray; }
  &.purple { background-color: $purple }
}
