@import "globals", "helpers/mixins";

@mixin panelbase(){
  $bg: rgba(14, 147, 207, 0.61);

  background: $bg;
  border: rem(1) solid darken($bg, 1%);


  h1,h2,h3,h4,h5,h6,p{
    color: #ffffff;
  }

  min-height: rem(300);
  border-radius: none;
  text-align: center;
}

@mixin panelstyle(){

}

.panel{
  @include panelbase;
}