@primary_color: #701fba;
@primary_hover_color: lighten(@primary_color, 2%);
@secondary_color: #eaeaea;
@definition_color: darken(@secondary_color, 60%);

@heading_font_color : darken(@secondary_color, 90%);
@body_font_color: darken(@secondary_color, 50%);
@button_font_color: #f9f9f9;
@alert_font_color: #f40004;
@success_font_color: #00e80f;

@alert_bg_color: lighten(@alert_font_color, 45%);
@success_bg_color: lighten(@success_font_color, 45%);

@base_scale: 16;
@base_font_size: 1em;
@base_line_height: 1.375em;