@import "mixins.less";

/*  Base Button
==================================*/
.button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.875em 1.25em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(30, 30, 30, 0.49);
  font: 1em 'Helvetica Neue',Arial,sans-serif;
  font-weight: 100%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -ms-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -moz-background-clip: padding; /* for Firefox 3.6 */
  background-clip: padding-box;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(18, 18, 18, 0.29);
  background-color: #3c8dde;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
  border-color: #2a65a0;
  border-bottom-color: #3884cd;
  background-color: #3072b3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
  background-image: -moz-linear-gradient(#3072b3, #599bdc);
  background-image: -ms-linear-gradient(#3072b3, #599bdc);
  background-image: -o-linear-gradient(#3072b3, #599bdc);
  background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*  Color styles - (Use create_button mixin to easily create new colored buttons)
=====================================================================================*/

.create_button(~"green",#11bf0e);

.create_button(~"purple",#7329bf);

.create_button(~"blue",#2d28bf);

.create_button(~"grey",#bebebe);

.create_button(~"light-grey",#e9e9e9);

.create_button(~"dark-grey",#3b3b3b);

.create_button(~"black",#040404);
