
@import "mixins";

/* #Base 60em (960px) Grid
================================================== */

.container{
  position: relative; width: 60em; margin: 0 auto; padding: 0;

  .column, .columns{
    float: left; display: inline; margin-left: 0.625em; margin-right: 0.625em;

    .alpha{ margin-left: 0;}
    .omega{margin-right: 0;}
  }
  /* Base Grid */
  .one.column,
  .one.columns                     { width: 2.500em; }
  .two.columns                     { width: 6.250em; }
  .three.columns                   { width: 10.000em; }
  .four.columns                    { width: 13.750em; }
  .five.columns                    { width: 17.500em; }
  .six.columns                     { width: 21.250em; }
  .seven.columns                   { width: 25.000em; }
  .eight.columns                   { width: 28.75em; }
  .nine.columns                    { width: 32.500em; }
  .ten.columns                     { width: 36.250em; }
  .eleven.columns                  { width: 40.000em; }
  .twelve.columns                  { width: 43.750em; }
  .thirteen.columns                { width: 47.500em; }
  .fourteen.columns                { width: 51.250em }
  .fifteen.columns                 { width: 55.000em; }
  .sixteen.columns                 { width: 58.750em; }

  .one-third.column                { width: 18.750em; }
  .two-thirds.column               { width: 38.750em; }

  /* Offsets */
  .offset-by-one                   { padding-left: 3.750em;  }
  .offset-by-two                   { padding-left: 7.500em; }
  .offset-by-three                 { padding-left: 11.25em; }
  .offset-by-four                  { padding-left: 15.000em; }
  .offset-by-five                  { padding-left: 18.750em; }
  .offset-by-six                   { padding-left: 22.5000em; }
  .offset-by-seven                 { padding-left: 26.250em; }
  .offset-by-eight                 { padding-left: 30.000em; }
  .offset-by-nine                  { padding-left: 33.750em; }
  .offset-by-ten                   { padding-left: 37.500em; }
  .offset-by-eleven                { padding-left: 41.250em; }
  .offset-by-twelve                { padding-left: 45.000em; }
  .offset-by-thirteen              { padding-left: 48.750em; }
  .offset-by-fourteen              { padding-left: 52.500em; }
  .offset-by-fifteen               { padding-left: 56.250em; }
  .row{
    margin-bottom: 1.250em;
  }
}






/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 48em (768px) */

@media only screen and (min-width: 48em) and (max-width: 59.938em) {
  .container                                  { width: 48em; }
  .container .column,
  .container .columns                         { margin-left: 0.625em; margin-right: 0.625em;  }
  .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 0.625em; }
  .column.omega, .columns.omega               { margin-right: 0; margin-left: 0.625em; }
  .alpha.omega                                { margin-left: 0; margin-right: 0; }

  .container .one.column,
  .container .one.columns                  { width: 1.75em; }
  .container .two.columns                  { width: 4.75em; }
  .container .three.columns                { width: 7.75em; }
  .container .four.columns                 { width: 10.75em; }
  .container .five.columns                 { width: 13.75em; }
  .container .six.columns                  { width: 16.75em; }
  .container .seven.columns                { width: 19.75em; }
  .container .eight.columns                { width: 22.75em; }
  .container .nine.columns                 { width: 25.75em; }
  .container .ten.columns                  { width: 28.75em; }
  .container .eleven.columns               { width: 31.75em; }
  .container .twelve.columns               { width: 34.75em; }
  .container .thirteen.columns             { width: 37.75em; }
  .container .fourteen.columns             { width: 40.75em; }
  .container .fifteen.columns              { width: 43.75em; }
  .container .sixteen.columns              { width: 46.75em; }

  .container .one-third.column             { width: 14.75em; }
  .container .two-thirds.column            { width: 30.75em; }

  /* Offsets */
  .container .offset-by-one                { padding-left: 3em; }
  .container .offset-by-two                { padding-left: 6em; }
  .container .offset-by-three              { padding-left: 9em; }
  .container .offset-by-four               { padding-left: 12em; }
  .container .offset-by-five               { padding-left: 15em; }
  .container .offset-by-six                { padding-left: 18em; }
  .container .offset-by-seven              { padding-left: 21em; }
  .container .offset-by-eight              { padding-left: 24em; }
  .container .offset-by-nine               { padding-left: 27em; }
  .container .offset-by-ten                { padding-left: 30em; }
  .container .offset-by-eleven             { padding-left: 33em; }
  .container .offset-by-twelve             { padding-left: 36em; }
  .container .offset-by-thirteen           { padding-left: 39em; }
  .container .offset-by-fourteen           { padding-left: 42em; }
  .container .offset-by-fifteen            { padding-left: 45em; }
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 20em (320px) */

@media only screen and (max-width: 47.938em) {
  .container { width: 18.750em; }
  .container .columns,
  .container .column { margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column  { width: 18.750em; }

  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen { padding-left: 0; }

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 30em (480px) */

@media only screen and (min-width: 30em) and (max-width: 47.938em) {
  .container { width: 26.250em; }
  .container .columns,
  .container .column { margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column { width: 26.250em; }
}


/* #Clearing
================================================== */

/* Self Clearing! */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
