@import "base.less";

.em(@px){
  @emSize: 1/@base_scale*@px;
  @em: ~"@{emSize}em";
}
.emLess(@px){
  @emVal: 1/@base_scale*@px;
}
.scale(@height,@width, @offset: 0){
  @emSize1: 1/@base_scale*@height - @offset;
  @emSize2: 1/@base_scale*@width - @offset;
  @emHeight: ~"@{emSize1}em";
  @emWidth: ~"@{emSize2}em";
}
.padded-rectangle(@size){
  .emLess(@size);
  @top_bot: @emVal * 0.60;
  @left_right: @emVal;

  padding: ~"@{top_bot}em" ~"@{left_right}em" ~"@{top_bot}em" ~"@{left_right}em";
}
.padded-size(@height,@width, @padding){
  .emLess(@padding);
  .em(@padding);
  .scale(@height,@width, @emVal);
  width: @emWidth;
  padding: @em;

}
.bg-gradient(@grad1){
  @grad2: lighten(@grad1, 15%);
  @grad3: lighten(@grad1, 20%);
  background: @grad1;
  background-image: -moz-linear-gradient(top, @grad1 0%, @grad2 58%, @grad3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @grad1), color-stop(58%, @grad2), color-stop(100%, @grad3));
  background-image: -webkit-linear-gradient(top, @grad1 0%, @grad2 58%, @grad3 100%);
  background-image: -o-linear-gradient(top, @grad1 0%, @grad2 58%, @grad3 100%);
  background-image: -ms-linear-gradient(top, @grad1 0%, @grad2 58%, @grad3 100%);
  background-image: linear-gradient(to bottom, @grad1 0%, @grad2 58%, @grad3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@grad1, endColorstr=@grad3, GradientType=0);
}
.transition(@rate){
  -webkit-transition: All @rate ease;
  -moz-transition: All @rate ease;
  -o-transition: All @rate ease;
  -ms-transition: All @rate ease;
  transition: All @rate ease;
}
.shadow(@color: @definition_color, @h_offset: 0px, @v_offset: 0px, @blur: 5px){
  box-shadow: @h_offset @v_offset @blur @color;
  -moz-box-shadow: @h_offset @v_offset @blur @color;
  -webkit-box-shadow: @h_offset @v_offset @blur @color;
}

.override_font_color(@bg_color) when (lightness(@bg_color) >= 50%){
    color: #505050;
}
.override_font_color(@bg_color) when (lightness(@bg_color) < 50%){
    color: #f9f9f9;
}

.override_font_shadow(@bg_color) when (lightness(@bg_color) < 50%){
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.override_font_shadow(@bg_color) when (lightness(@bg_color) >= 50%){
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.override_font_shadow_active(@bg_color) when (lightness(@bg_color) < 50%){
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.override_font_shadow_active(@bg_color) when (lightness(@bg_color) >= 50%){
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.create_button(@name, @base_color, @font_size: 0.875em, @h_padding: 1.25em, @v_padding: 0.875em){
  .button.@{name}{
    @darker_color: darken(@base_color, 5%);
    @border_color: darken(@base_color, 6%);

    border-color: @border_color;
    background-color: @base_color;
    font-size: @font_size;
    .override_font_color(@base_color);
    .override_font_shadow(@base_color);
    padding: @v_padding @h_padding;

    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@base_color), to(@darker_color)); //#f4f4f4 to #ececec
    background-image: -moz-linear-gradient(@base_color, @darker_color);
    background-image: -ms-linear-gradient(@base_color, @darker_color);
    background-image: -o-linear-gradient(@base_color, @darker_color);
    background-image: linear-gradient(@base_color, @darker_color);
  }

  .button.@{name}:hover,
  .button.@{name}:focus,
  .button.@{name}:active {
    @hover_color_start: darken(@base_color, 3%);
    @hover_color_end: darken(@base_color, 5%);
    @hover_border_color: darken(@base_color, 7%);
    @hover_border_color_bottom: darken(@base_color, 9%);

    border-color: @hover_border_color;
    border-bottom-color: @hover_border_color_bottom;
    .override_font_color(@hover_color_end);
    .override_font_shadow_active(@hover_color_end);
    background-color: @hover_color_start;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@hover_color_start), to(@hover_color_end));
    background-image: -moz-linear-gradient(@hover_color_start, @hover_color_end);
    background-image: -ms-linear-gradient(@hover_color_start, @hover_color_end);
    background-image: -o-linear-gradient(@hover_color_start, @hover_color_end);
    background-image: linear-gradient(@hover_color_start, @hover_color_end);
  }

  .button.@{name}:active,
  .button.@{name}.active {
    @active_color_start: darken(@base_color, 5%);
    @active_color_end: darken(@base_color, 3%);
    @active_border_color: darken(@base_color, 9%);
    @active_border_color_bottom: darken(@base_color, 7%);

    border-color: @active_border_color;
    border-bottom-color: active_border_color_bottom;
    .override_font_color(@active_color_start);
    .override_font_shadow_active(@active_color_start);
    background-color: @active_color_start;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@active_color_start), to(@active_color_end));
    background-image: -moz-linear-gradient(@active_color_start, @active_color_end);
    background-image: -ms-linear-gradient(@active_color_start, @active_color_end);
    background-image: -o-linear-gradient(@active_color_start, @active_color_end);
    background-image: linear-gradient(@active_color_start, @active_color_end);
  }
}

.create_button_size(){

}
