/*
  =================================
     BASE.LESS
  =================================

  Master Colors
  -------------

  @primary_color: #791fba;
  @secondary_color: #eaeaea;
  @definition_color: darken(@secondary_color, 80%);

  Master Font Colors
  ------------------

  @heading_font_color : darken(@secondary_color, 90%);
  @body_font_color: darken(@secondary_color, 50%);
  @alert_font_color: #ff1919;
  @success_font_color: #00e80f;

  Master Font Size
  ----------------

  @base_font_size: 1em;
  @base_line_height: 1.375em;

*/

/*
  =================================
     RESET.LESS
  =================================
*/

@import 'reset';

/*
  =================================
      MIXINS.LESS
  =================================
*/

@import "mixins.less";

/*
  =================================
      TYPOGRAPHY.LESS
  =================================
*/

@import 'typography';

/*
  =================================
      GRID.LESS
  =================================
  (16px Base using pure EM)
*/

@import "grid";

/*
  =================================
      MEDIA QUERIES
  =================================
*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 59.938em) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 48em) and (max-width: 59.938em) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 47.938em) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 30em) and (max-width: 47.938em) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 29.938em) {}

/*
  =================================
       BUTTON STYLES
  =================================
*/

@import "buttons.less";

/*
  =================================
       PAGE STYLES
  =================================
*/

body{

  background: lighten(@primary_color, 54%);
  font-size: @base_font_size;
  color: @body_font_color;
}


/* Containers
=======================================================*/
.box(){
  .shadow();
}